:root {
  --nu-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  --nu-shadow-soft: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
  --nu-shadow-inset: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  --nu-border: 1px solid #d1d9e6;

  --scroller-height: 475px;
}

/* Layout/General styles */
body {
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  color: #44476a;
  background-color: #e6e7ee;

  --bg-size: 2.25;
  --bg-rotation: 0.125;
  --symbol-color: rgb(0, 0, 0, 0.06);
  background-image: linear-gradient(-2.5deg, #e6e6e6, transparent 30%, transparent 70%, #e6e7ee),
    repeating-linear-gradient(
      calc(var(--bg-rotation) * 0.25turn),
      transparent,
      transparent calc(var(--bg-size) * 8px),
      var(--symbol-color),
      var(--symbol-color),
      transparent calc(var(--bg-size) * 9px),
      transparent calc(var(--bg-size) * 16px)
    ),
    repeating-linear-gradient(
      calc(var(--bg-rotation) * 0.25turn + 0.25turn),
      transparent,
      transparent calc(var(--bg-size) * 8px),
      var(--symbol-color),
      var(--symbol-color),
      transparent calc(var(--bg-size) * 9px),
      transparent calc(var(--bg-size) * 16px)
    );
  background-attachment: fixed;
  background-size: 100%;
}

header {
  h1 {
    font-weight: 700;
    font-size: 2rem;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 2rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    text-decoration-color: #b8b9be;
    text-underline-offset: 2px;

    &:hover {
      text-decoration-color: unset;
    }
  }
}

/* Specific Styles */
.controls {
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  button {
    padding: 0.75rem 0.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.55rem;
    font-weight: 700;
    box-shadow: var(--nu-shadow);

    &:active {
      box-shadow: var(--nu-shadow-inset);
    }

    &:disabled {
      opacity: 0.65;
      box-shadow: var(--nu-shadow-inset);
      color: #31344b;
      background-color: #e6e7ee;
      border-color: #e6e7ee;
    }
  }
}

#post-wrapper {
  height: auto;
  width: 580px;
  padding: 16px;
  margin-inline: auto;
  background-color: white;
}

#post-wrapper-inner {
  border: 1px solid rgba(var(--black), 0.07);
  border-radius: 8px;

  &:empty {
    padding-block: 2rem;
    text-align: center;
    &::after {
      font-style: italic;
      content: "(Post will appear here...)";
    }
  }
}

.post {
  overflow-x: auto;
}

.post-output {
  overflow-x: auto;
}

#post-image-container {
  display: grid;
  place-items: center;

  &:empty {
    padding-block: calc(2rem + 16px + 2px);
    text-align: center;
    &::after {
      font-style: italic;
      content: "(Output image will appear here...)";
    }
  }
}

.description {
  p {
    margin-bottom: 1rem;
  }
  ol {
    list-style: decimal;
  }
  ol li {
    font-feature-settings: unset;
    list-style-type: unset;
  }
  li {
    margin-bottom: 4px;
  }
  code {
    display: inline;
    font-size: 0.875rem;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    padding: 0.1em 0.2em;
  }
}

#svg-definitions {
  display: none;
}

/* Helper styles */
.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

.card {
  height: fit-content;
  padding: 1rem 1.5rem;
  background-color: #e6e7ee;
  border: 0.0625rem solid rgba(243, 247, 250, 0.05);
  box-shadow: var(--nu-shadow-soft);
  border-radius: 0.55rem;
}

.card-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  padding-bottom: 0.25rem;
}

.post-scroller {
  width: fit-content;
  max-width: 100%;
  max-height: var(--scroller-height);
  margin-inline: auto;
  overflow: auto;
  scrollbar-gutter: stable;
}

.button-icon {
  vertical-align: text-top;
}

.inline-icon {
  vertical-align: middle;
}

/* Element styles */
label {
  gap: 0.5rem;
  font-size: 0.875rem;
  display: grid;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 4rem;
  max-height: 500px;
  display: block;
  width: 100%;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #44476a;
  background-color: #e6e7ee;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: var(--nu-shadow-inset);
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  outline: unset;
  transition: border-color 200ms ease-in-out;

  &:focus-visible {
    border-color: #b8b9be;
  }
}

canvas {
  max-width: 100%;
}

@media (width < 800px) {
  body {
    padding: 1rem;
  }
  main {
    grid-template-columns: 1fr;
  }
}

/* Fixes */

/* Show all images */
.RoN4R,
.GmPch {
  visibility: visible !important;
}
/* Blaze */
.m5KTc:has([aria-label="Blaze"]) {
  display: none;
}

/* Fix outer color bug wow */
.FtjPK.r0etU {
  box-shadow: unset;
}
